@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

.task {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(145, 145, 146);
  border-radius: 5px;
  margin: 10px 5px;
  flex-wrap: nowrap;
}

.task:hover {
  border-color: #000;
}

.task__outputAndDateWrapper {
  display: flex;
  flex-direction: column;
}

.task__output,
.task__date,
.task__option {
  display: block;
}

.task__output {
  font-size: 1.2em;
}

.task__date,
.task__option {
  font-size: 0.8em;
}

.task__option {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  width: 140px;
  color: white;
  min-width: 20px;
  padding: 2px 5px;
  border-radius: 7px;
  text-align: center;
}

.task__checkbox {
  margin-right: 10px;
  padding: 20px;
  align-self: center;
  width: 19px;
  height: 19px;
}

.task__buttonsWrapper {
  margin-left: auto;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.task__edit {
  border-radius: 5px;
  background: rgb(37, 172, 149);
  opacity: 0.8;
  color: #fff;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  transition: transform 0.3s ease-in-out;
}

.task__edit:hover {
  background: rgb(37, 172, 149);
  opacity: 1;
}

.task__edit:active {
  transform: scale(0.9);
}

.task__delete {
  border-radius: 5px;
  background: #da422e;
  opacity: 0.8;
  color: #fff;
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease-in-out;
}

.task__delete:hover {
  background: #da422e;
  opacity: 1;
}

.task__delete:active {
  transform: scale(0.9);
}
