@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.form__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.form__inputAndSelectWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__input {
  border: 0;
  border-bottom: 1px solid rgb(145, 145, 146);
  font-size: 1em;
  margin-right: 20px;
}

.form__input:focus {
  border: 0;
  outline: none;
  border-bottom: 1px solid #000;
}

.form__approveButton {
  display: block;
  border-radius: 5px;
  background: #52baff;
  opacity: 0.8;
  color: #fff;
  width: 25px;
  height: 25px;
  margin-left: 20px;
  transition: transform 0.3s ease-in-out;
}

.form__approveButton:hover {
  background: #52baff;
  opacity: 1;
}

.form__approveButton:active {
  transform: scale(0.9);
}

select {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  width: 100px;
}

option {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
