.main {
  display: flex;
  padding-top: 50px;
}

.main__calendarWrapper {
  background-color: pink;
  flex-grow: 0.3;
}

.main__tasksWrapper {
  background-color: lightgreen;
  flex-grow: 1;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.main__statsWrapper {
  background-color: salmon;
  flex-grow: 1;
}
