.main {
  display: flex;
  padding: 0 20px;
}

/* .main__calendarWrapper {
  background-color: pink;
  flex-grow: 0.3;
} */

.main__tasksWrapper {
  flex-grow: 0.3;
  flex-wrap: wrap;
  /* border-left: 1px solid grey;
  border-right: 1px solid grey; */
}

.main__statsWrapper {
  background-color: salmon;
  flex-grow: 0.7 !important;
}
