.main {
  display: flex;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

.main__nav_link {
  padding: 5px 10px;
}

.main__nav_link_currentLink {
  text-transform: lowercase;
  text-decoration: none;
  color: rgb(145, 145, 146);
}

.main__nav_link_currentLink_active {
  color: #000;
  text-decoration: none;
}

.main__nav_link_currentLink:hover {
  text-decoration: underline;
}
