.login__wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25%;
}

.login__input-login,
.login__input-password {
  display: block;
  padding: 10px;
}

.login__input-password {
  margin-top: 10px;
}

.login__button {
  margin-top: 10px;
  padding: 5px;
  min-width: 162px;
  background-color: lightgray;
  border: 0px;
}

.login__button:hover {
  background-color: #c4c2c2;
}

.login__button:focus {
  background-color: gray;
}
