.settings__changeCategory,
.settings__changeTheme {
  padding: 10px;
  border: 1px solid rgb(145, 145, 146);
  border-radius: 5px;
  margin: 10px 5px;
  flex-wrap: nowrap;
}

.settings__changeCategory:hover,
.settings__changeTheme:hover {
  border-color: #000;
}
.settings__changeCategory_buttonAndDescription {
  display: flex;
  justify-content: space-between;
}

.settings__changeCategory_button {
  width: 15px;
  height: 15px;
  background-color: white;
}

.settings__changeCategory_button:focus {
  border: 0px;
}
